<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSL2_Aim_Assist.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SSL2_Aim_Assist.My.MySettings>
            <setting name="dotPercent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="checkUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openedUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </SSL2_Aim_Assist.My.MySettings>
    </userSettings>
</configuration>